# n = object name
# p = position
# s = scale
# r = rotation
# a = at
# u = up
# c = colour
# i = initial shader index
#	0 = Gouraud
#	1 = Phong
#	2 = Texture
#	3 = Bump Mapping
#	6 = Transparent
#	7 = Environment Mapping

# World Cube
n Room
p 0.0 0.0 0.0
s 4.0
r 0.0 0.0 0.0

# Cube
n Cube
p 0.0 0.0 0.0
s 1.0
r 0.0 0.0 0.0
i 3

# Sphere1
n Sphere1
p -2.0 0.0 -3.0
s 0.05
r 0.0 0.0 0.0
i 6

# Sphere2
n Sphere2
p 2.0 0.0 3.0
s 0.05
r 0.0 0.0 0.0
i 0

# Ink
n Ink
p 0.0 0.0 0.0
s 5.0
r 0.0 0.0 0.0

# Camera
n Camera
p 5.0 0.0 0.0
a 0.0 0.0 0.0
u 0.0 1.0 0.0

# Light
n Light
p 0.0 5.0 0.0
c 255.0 255.0 255.0 255.0
